@import "@fontsource-variable/inter/wght.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 100vw;
}

.center .slick-arrow::before {
  color: black !important;
}
.center .slick-slide > div {
  margin: 0 1rem;
}
.center .slick-center div {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #a7337d;
  transform: translateY(2rem);
}
.center .slick-track {
  padding-bottom: 12rem !important;
}
.center .slick-dots {
  bottom: 5rem !important;
  background-color: rgb(243 244 246);
}
.center .slick-dots > li > button::before {
  font-size: 1.5rem !important;
  color: #a7337d !important;
}
.quote .slick-slide > div {
  margin: 0 33%;
}
.quote .slick-dots {
  bottom: 10rem !important;
}
.quote .slick-track {
  padding-bottom: 25rem !important;
}
.quote .slick-dots > li {
  width: 10rem;
}
.quote .slick-next {
  right: 5rem;
}
.quote .slick-prev {
  left: 5rem;
}
.quote .arrow {
  top: 25%;
  width: 2.5rem;
  height: 2.5rem;
}
.quote .slick-dots li a {
  opacity: 0.7;
}
.quote .slick-dots .slick-active a {
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .center .slick-slide > div {
    margin: 0 0.2rem;
  }
  .center .slick-dots > li > button::before {
    font-size: 1.5rem !important;
  }
  .center .slick-track {
    padding-bottom: 5rem !important;
  }
  .center .slick-dots {
    bottom: 2rem !important;
  }
  .quote .slick-slide > div {
    margin: 0 2rem !important;
  }
  .quote .slick-next {
    right: 0;
  }
  .quote .slick-prev {
    left: 0.5rem;
  }
  .quote .arrow {
    top: 15%;
    width: 2.5rem;
    height: 2.5rem;
  }
  .quote .slick-dots {
    display: flex !important;
  }
  .quote .slick-track {
    padding-bottom: 15rem !important;
  }
}
@media only screen and (max-width: 780px) {
  .quote .slick-dots {
    display: flex !important;
  }
  .quote .slick-dots {
    bottom: 15rem !important;
  }
  .quote .slick-slide > div {
    margin: 0 20%;
  }
  .quote .slick-next {
    right: 0;
  }
  .quote .slick-prev {
    left: 0.5rem;
  }
  .quote .arrow {
    top: 10%;
    width: 2.5rem;
    height: 2.5rem;
  }
}
